// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.heroWrapper{
    display: flex;
    flex-wrap:wrap-reverse;
    margin-top: 30px;
    justify-content: center;
}

.heroImg{
    width: 45%;
    min-width: 200px;
}

.heroText{
    width: 50%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    // font-size: 120%;
    // padding-left: 10%;
    padding-bottom: 7%;
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-weight: lighter;
    }
    
}

.heroImgContainer{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}