@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.App {
  text-align: center;
  background-color: #fff;
  background-image: url('../../Images/Path21.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 65%;
  min-height: 100vh;
  width: 100%;
}

.mainBody{
  padding: 10%;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow-y: hidden;
}

