.App {
  text-align: center;
  // background-color: #40195a;
  background-image: url('../../Images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

