$lightColor: #fff8f2;
$lighterColor: #fffaf7;
$submitColor: #662392;
$mainColor: #40195a;

.navWrapper{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $lightColor;
}

.registerButton{
    button{
        width: 100%;
        background-color: #fff8f2d2;
        color: $mainColor;
        font-size: 110%;
        padding: 14px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
}