$lightColor: #fff8f2;
$lighterColor: #fffaf7;
$submitColor: #4b2ea2;
$mainColor: #40195a;

.sectionWrapper{
    display: flex;
    justify-content: center;
}

.bannerWrapper{
    width: 100%;
    height: 30vh;
    min-height: 240px;
    // background-color: $lightColor;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    flex-wrap: wrap;
    border-color: $submitColor;
    border-width: 5px;
    // margin-right: 15%;
}

.bannerImage{
    width: 40%;
    min-width: 250px;
}

#mockupImage{
    position: relative;
    width: 50%;
    min-width: 250px;
    top: -160px;
}

// .bannerInfo{
//     font-size: 200%;
//     color: $mainColor;
//     #contigoWord{
//         text-decoration: underline;
//     }
// }

.bannerForm{
    width: 60%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    max-height: 30vh;
}

.formInputs{
    display: flex;
    flex-direction: column;
    // margin-top: 50px;
    height: 30vh;
    min-height: 200px;
}

.firstRow{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.rowInput{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    margin-top: 25px;
    margin-right: 20px;
    input{
        height: 44px;
        padding: 5px;
        padding-left: 10px;
        margin-top: 8px;
        border-style: none;
        box-shadow: 2px 2px 7px #ccc;
        border-radius: 4px;
        // background-color: $lighterColor;
    }
    label{
        color: $mainColor;
    }
}

.submitButton{
    width: 100%;
    background-color: $submitColor;
    color: $lightColor;
    font-size: 110%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

